.main-heading {
  text-transform: uppercase;
  margin: 20px 0 20px 0;
  text-align: center;
}
mat-card {
  margin-bottom: 20px;
}
mat-checkbox {
  margin: 10px 0 20px 0;
}
mat-slider {
  width: 100%;
}
.buttons {
  margin: 20px 0px;
}
