<div class="container" rtl>
  <div class="row">
    <div class="col">
      <h1 class="main-heading">{{ 'cmrs.signin.form.title' | translate }}</h1>
    </div>
  </div>
  <ng-container *ngIf="formValueChanges$ | async as updatedForm">
    {{update(updatedForm)}}
  </ng-container>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <mat-card>
          <span class="d-flex justify-content-between align-items-baseline">
            <h2>{{ 'cmrs.signin.form.subtitle1' | translate }}</h2>
            <!--<mat-slide-toggle formControlName="autosave">
              {{ 'cmrs.signin.form.autosave' | translate }}
            </mat-slide-toggle>-->
          </span>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'cmrs.signin.form.placeholder1' | translate }}"
                     formControlName="username">
              <mat-error *ngIf="form.get('username').invalid">
                {{ 'cmrs.signin.form.placeholder1' | translate }}
                {{ 'cmrs.signin.form.error1' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput type="password" placeholder="{{ 'cmrs.signin.form.placeholder2' | translate }}"
                     formControlName="password">
              <mat-error *ngIf="form.get('password').invalid">
                {{ 'cmrs.signin.form.placeholder2' | translate }}
                {{ 'cmrs.signin.form.error1' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row buttons d-flex justify-content-between pad">
            <button mat-raised-button color="primary" [ngClass]="routeAnimationsElements">
              {{ 'cmrs.signin.form.login' | translate }}
            </button>
            <!--<button type="button" mat-raised-button color="accent" [disabled]="form.get('autosave').value"
                    [ngClass]="routeAnimationsElements" (click)="save()">
              {{ 'cmrs.signin.form.save' | translate }}
            </button>-->
            <!--<button type="reset" mat-raised-button (click)="reset()" [ngClass]="routeAnimationsElements">
              {{ 'cmrs.signin.form.reset' | translate }}
            </button>-->
          </div>
        </mat-card>
      </div>
    </div>
  </form>

</div>
