<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'cmrs.reporting.title' | translate }}</h1>
    </div>
  </div>
</div>
<div class="container">
  <h2>{{ 'cmrs.reporting.in-developing' | translate }}</h2>
</div>
