<div class="background">
  <div class="gradient">
    <div class="container">
      <h1 rtl class="main-heading">{{ 'cmrs.cameras.title' | translate }}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row align-items-end">
    <div *ngFor="let camera of cameras" class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title>
          <span class="status-text">
            {{ (camera.status == 1) ? ('cmrs.cameras.pass' | translate) : ('cmrs.cameras.fail' | translate) }}
            <span class="status {{ (camera.status == 1) ? 'pass' : 'fail'}}"></span>
          </span>
          {{ 'cmrs.cameras.camera' | translate }} {{camera.name}}
        </mat-card-title>
        <mat-card-subtitle rtl>
          <img [src]="camera.stream" alt="Stream view {{camera.name}}">
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</div>
