@import '../../../../styles-variables';

.background {
  padding: 20px 0 0 0;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../../../assets/intro.jpg') no-repeat center top;
    background-size: cover;
    opacity: 0.7;
    content: '';
    z-index: 0;
  }

  .gradient {
    &::before {
      position: absolute;
      top: 51%;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      z-index: 0;
    }
  }

  .container {
    margin-top: 20px;
    position: relative;
  }
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }

    .status-text {
      position: absolute;
      top: 7px;
      right: 15px;
      float: right;
      font-size: 12px;
      display: flex;
      align-items: center;
      .status {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: red;
        margin-left: 3px;
        &.pass {
          background: green;
        }
      }
    }

  }
  mat-card-subtitle {
    width: 100%;
    height: 200px;
    min-height: 200px;
    position: relative;
    img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a {
    fa-icon {
      position: relative;
      bottom: 2px;
      font-size: 16px;
      margin: 6px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    left: 5px;
  }
}


@media (max-width: map-get($grid-breakpoints, md)) {
  .background {
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .background {
    padding: 10px 0 0 0;

    h1 {
      line-height: 1em;
    }

  }
}
