$cmrs-black-primary: mat-palette($mat-grey, 700, 300, 900);
$cmrs-black-accent: mat-palette($mat-blue-grey, 400);
$cmrs-black-warn: mat-palette($mat-red, 500);

$cmrs-black-theme: mat-dark-theme(
  $cmrs-black-primary,
  $cmrs-black-accent,
  $cmrs-black-warn
);
