$cmrs-primary: mat-palette($mat-indigo, 800, 300, 900);
$cmrs-accent: mat-palette($mat-light-blue);
$cmrs-warn: mat-palette($mat-pink, 600);

$cmrs-theme: mat-light-theme($cmrs-primary, $cmrs-accent, $cmrs-warn);
