$cmrs-light-primary: mat-palette($mat-grey, 200, 500, 300);
$cmrs-light-accent: mat-palette($mat-brown, 200);
$cmrs-light-warn: mat-palette($mat-deep-orange, 200);

$cmrs-light-theme: mat-light-theme(
  $cmrs-light-primary,
  $cmrs-light-accent,
  $cmrs-light-warn
);
