$cmrs-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$cmrs-nature-accent: mat-palette($mat-deep-purple, 300);
$cmrs-nature-warn: mat-palette($mat-red, 600);

$cmrs-nature-theme: mat-light-theme(
  $cmrs-nature-primary,
  $cmrs-nature-accent,
  $cmrs-nature-warn
);
