@import 'styles-variables';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@import '../node_modules/@angular/material/theming';

@include mat-core();

@import 'themes/default-theme';
@import 'themes/light-theme';
@import 'themes/black-theme';
@import 'themes/nature-theme';

@import 'styles-reset.scss-theme';
@import 'app/app/app.component.scss-theme';
@import 'app/shared/big-input/big-input/big-input.component.scss-theme';
@import 'app/pages/reporting/reporting/reporting.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include cmrs-styles-reset-theme($theme);
  @include cmrs-app-component-theme($theme);
  @include cmrs-reporting-component-theme($theme);
  @include cmrs-big-input-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($cmrs-theme);
  @include custom-components-theme($cmrs-theme);
}

.light-theme {
  @include angular-material-theme($cmrs-light-theme);
  @include custom-components-theme($cmrs-light-theme);
}

.black-theme {
  @include angular-material-theme($cmrs-black-theme);
  @include custom-components-theme($cmrs-black-theme);
}

.nature-theme {
  @include angular-material-theme($cmrs-nature-theme);
  @include custom-components-theme($cmrs-nature-theme);
}
